<p>{{ Mycolor }}</p>
<p>{{ Mynumber }}</p>
<p>{{ Mywidth }}</p>
<p>{{ Myheight }}</p>

<div style="display: flex; flex-wrap: wrap; justify-content: space-around">
  <div
    class="col-6 col-md-4"
    appChangeText
    class="item"
    inputColor="{{ Mycolor }}"
    inputWidth="{{ Mywidth }} "
    inputHeight="{{ Myheight }}"
  ></div>
  <div
    class="col-6 col-md-4"
    appChangeText
    class="item"
    inputColor="{{ Mycolor }}"
    inputWidth="{{ Mywidth }} "
    inputHeight="{{ Myheight }}"
  ></div>
  <div
    class="col-6 col-md-4"
    appChangeText
    class="item"
    inputColor="{{ Mycolor }}"
    inputWidth="{{ Mywidth }} "
    inputHeight="{{ Myheight }}"
  ></div>
  <div
    class="col-6 col-md-4"
    appChangeText
    class="item"
    inputColor="{{ Mycolor }}"
    inputWidth="{{ Mywidth }} "
    inputHeight="{{ Myheight }}"
  ></div>
  <div
    class="col-6 col-md-4"
    appChangeText
    class="item"
    inputColor="{{ Mycolor }}"
    inputWidth="{{ Mywidth }} "
    inputHeight="{{ Myheight }}"
  ></div>
  <div
    class="col-6 col-md-4"
    appChangeText
    class="item"
    inputColor="{{ Mycolor }}"
    inputWidth="{{ Mywidth }} "
    inputHeight="{{ Myheight }}"
  ></div>
  <div
    class="col-6 col-md-4"
    appChangeText
    class="item"
    inputColor="{{ Mycolor }}"
    inputWidth="{{ Mywidth }} "
    inputHeight="{{ Myheight }}"
  ></div>
  <div
    class="col-6 col-md-4"
    appChangeText
    class="item"
    inputColor="{{ Mycolor }}"
    inputWidth="{{ Mywidth }} "
    inputHeight="{{ Myheight }}"
  ></div>
</div>
