.wrapper {
  display: grid; /* hoặc inline-grid | subgrid */
  grid-template-columns: 15% 15% 15% 15% 15%;
  grid-template-rows: 100px 100px;
  justify-content: space-around;
  column-gap: 10px;
  row-gap: 40px;
  /* background-color: blue; */
}
.item {
  width: 100%;
  background-color: blue;
}
